<launch>

	<node name="master_sync_gate" pkg="fkie_master_sync" type="master_sync">
	</node>
	<node name="master_discovery_gate" pkg="fkie_master_discovery" type="master_discovery">
		<rosparam param="robot_hosts">[192.168.1.50]</rosparam>
	</node>

	<node name="wheeler_3_pub" pkg="wheeler_3" type="pub.py" output="screen">
	</node>

	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>

</launch>
